:root{
    --white: #FFFFFF;
    --black: #000000;
    --error: #FF5959;
    --bg-gray: #F0F0F0;
    --gray-text: #716F6F;
    --gray-border: #DCDCDC;
    --span-purple: #854DFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    background-color: var(--bg-gray) ;
    justify-content: center;
    align-items: center;
}

.main-card{
    /* display: flex; */
    flex-direction: column;
    width: 21.4rem;
    margin: 15% 1rem;
    background-color: var(--white);
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
}

.input{
    display: flex;
    flex-direction: row;
    margin: 3rem 1.5rem 3rem 1.5rem;
    justify-content: right;
    gap: 1rem;
}

input{
    width: 5.4rem;
    padding: 0.75rem 1.5rem 0.75rem 1rem;
    border: 1px solid var(--gray-border);
    border-radius: 0.5rem;
    margin-top: 0.35rem;
}

input::placeholder{
    font-weight: 700;
}


label{
    text-transform: uppercase;
    color: var(--gray-text);
    font-size: 0.75rem;
    margin-right: 1.5rem;
    letter-spacing: 0.18rem;

}

.day-input label, .year-input label{
    margin-right: 3rem;
}


.day-input, .month-input, .year-input{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.error-msg{
    font-size: 0.75rem;
    font-weight: 300;
    font-style: italic;
    color: var(--error);
    margin-top: 0.5rem;
    text-align: left;
    display: none;
}

.results{
    margin: 2rem 1.5rem 3rem 1.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 3.5rem;
    font-size: 1.5rem;
}

.results span{
    color: var(--span-purple);
}

.breakline{
    border-top: 1.5px solid var(--gray-border);
    margin: auto 1.5rem 2rem 1.5rem;
    position: relative;
}

.breakline button{
    position: absolute;
    top: -1.8rem;
    left: 40%;
    padding: 1rem;
    border-radius: 100%;
    border: none;
    background-color: var(--span-purple);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.breakline button:hover{
    background-color: var(--black);
}

button img{
    width: 1.5rem;
}


/* Media Queries */

@media(min-width: 55.5rem){
    .main-card{
        width: 52.5rem;
        height: 42.5rem;
        padding-right: 3.5rem;
        padding-left: 3.5rem;
        border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    }

    .input{
        justify-content: left;
        gap: 3rem;
        /* margin: 3.5rem; */
    }

    input{
        width: 10rem;
        height: 4.5rem;
        padding-top: 1.5rem
    }
    
    input::placeholder{
        font-size: 2rem;
        letter-spacing: 1%;
    }
    
    

    .results{
        font-size: 3.5rem;
        line-height: 8rem;
    }



    .day-input, .month-input, .year-input{
        display: flex;
        flex-direction: column;
    }

    label{
        font-size: 0.875rem;
        margin-right: 5.5rem;
        margin-bottom: 0.2rem;
    
    }
    
    .day-input label, .year-input label{
        margin-right: 7rem;
    }

    .error-msg{
        font-size: 0.875rem;
    }

    .breakline button{
        top: -2.8rem;
        left: 90%;
        padding: 1.5rem;
    }
    
    button img{
        width: 2.75rem;
    }
    
}
