:root{
    --white: #FFFFFF;
    --bg-gray: #F0F0F0;
    --gray-text: #716F6F;
    --gray-border: #DCDCDC;
    --span-purple: #854DFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    background-color: var(--bg-gray) ;
    justify-content: center;
    align-items: center;
}

.main-card{
    /* display: flex; */
    flex-direction: column;
    width: 21.4rem;
    margin: 15% 1rem;
    background-color: var(--white);
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
}

.input{
    display: flex;
    flex-direction: row;
    margin: 3rem 1.5rem 3rem 1.5rem;
    justify-content: right;
    gap: 1rem;
}

input{
    width: 5.4rem;
    padding: 0.75rem 1.5rem 0.75rem 1rem;
    border: 1px solid var(--gray-border);
    border-radius: 0.5rem;
}

input::placeholder{
    font-weight: 700;
}


label{
    text-transform: uppercase;
    color: var(--gray-text);
    font-size: 0.75rem;
    margin-right: 1.5rem;
    letter-spacing: 0.18rem;

}

.day-input label, .year-input label{
    margin-right: 3rem;
}


.day-input, .month-input, .year-input{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.results{
    margin: 2rem 1.5rem 3rem 1.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 3.5rem;
    font-size: 1.5rem;
}

.results span{
    color: var(--span-purple);
}

.breakline{
    border-top: 1.5px solid var(--gray-border);
    margin: auto 1.5rem 2rem 1.5rem;
    position: relative;
}

.breakline button{
    position: absolute;
    top: -1.8rem;
    left: 40%;
    padding: 1rem;
    border-radius: 100%;
    border: none;
    background-color: var(--span-purple);
}

button img{
    width: 1.5rem;
}
